@import url('https://fonts.googleapis.com/css?family=Borel');
@import url('https://fonts.googleapis.com/css?family=Tektur:400,700');

body {
    font-family: Helvetica;
}

.handwriting {
    font-family: 'Borel';
}

.folded {
    font-family: 'Tektur';
    font-weight: 400;
}

.folded.bold {
    font-family: 'Tektur';
    font-weight: 700;
}

[data-bs-theme=light] .navbar-automatic {
    background-color: var( --bs-light);
}

[data-bs-theme=dark] .navbar-automatic {
    background-color: var(--bs-dark-bg-subtle);
}
