.projectCardWrapper {
    --pcw-border-width: 1px;
    --pcw-border-radius: 1rem;
    --pcw-colour: var(--colour-white);
    --pcw-border-colour: color-mix(in srgb, var(--colour-yellow), white 75%);
    --pcw-background-color: color-mix(in srgb, var(--colour-yellow), transparent 40%);

    align-items: center;
}
.projectCardWrapper.flex {
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    .projectCardWrapper {
       --pcw-border-colour: color-mix(in srgb, var(--pcw-colour), transparent 50%); 
       --pcw-background-color: color-mix(in srgb, var(--pcw-colour), transparent 95%);
    }
}

.projectCardWrapper .image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
        border-width: var(--pcw-border-width);
        border-radius: var(--pcw-border-radius);
        border-color: var(--pcw-border-colour);
        background-color: var(--colour-bg);
        object-fit: cover;
        height: 100%;
        
    }
    img.needsBG {
        background-color: var(--colour-yellow-strong);
    }
    
}

.projectCardWrapper .info {
    border-width: var(--pcw-border-width);
    border-radius: var(--pcw-border-radius);
    border-color: var(--pcw-border-colour);
    background-color: var(--pcw-background-color);
    padding: 0.8rem;
    text-align: start;
    width:100%; 
    h3 {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.2em;
        margin-block: auto;
    }
    h4 {
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 1em;
        margin-block: auto;
    }
    p {
        font-size: 1.0rem;
        font-family: "Outfit";
        padding-top: 5px;
    }
}

@media (prefers-color-scheme: dark) {
    .projectCardWrapper .info {
       --hello: 1rem;
    }
}