.experienceCardsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 35em;
    --ecw-colour: var(--colour-white);
    --ecw-border-colour: color-mix(in srgb, var(--colour-yellow), white 75%);
    --ecw-border-width: 1px;
    --ecw-border-radius: 1rem;
    --ecw-background-colour: color-mix(in srgb, var(--colour-yellow), transparent 40%);
    --vertical-line-colour: color-mix(in srgb, var(--colour), transparent 0%);
}

@media (prefers-color-scheme: dark) {
    .experienceCardsContainer {
       --ecw-border-colour: color-mix(in srgb, var(--ecw-colour), black 35%); 
       --ecw-background-colour: color-mix(in srgb, var(--ecw-colour), transparent 95%);
    }
}

.experienceCardsContainer.vertLine {
    position: relative;
}
.experienceCardsContainer.vertLine::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: -20px;
    bottom: 0;
    left: -20px;
    width: 2px;
    background-color: var(--vertical-line-colour);
    border-radius: 100%;
}

.experienceCardWrapper {
    position: relative;
    align-items: center;
}
.experienceCardWrapper.flex {
    flex-direction: column;
}

.experienceCardWrapper .image {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        border-width: var(--ecw-border-width);
        border-radius: var(--ecw-border-radius);
        border-color: var(--ecw-border-colour);
        background-color: var(--colour-bg);
        object-fit: cover;
        height: 100%;        
    }
    img.needsBG {
        background-color: var(--colour-yellow-strong);
    }
    
}
.experienceCardsContainer.vertLine .experienceCardWrapper .image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -36px;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    background-color: var(--vertical-line-colour);
    z-index: 1;
    border-radius: 50%;
    display: inline-block;
}

@media (width >= 40rem) {
    .experienceCardsContainer.vertLine::before {
        left: -73px
    }
    .experienceCardsContainer.vertLine .experienceCardWrapper .image::before {
        left: -65px
    }
}

.experienceCardWrapper .info {
    position: relative;
    z-index: 2;
    border-width: var(--ecw-border-width);
    border-radius: var(--ecw-border-radius);
    border-color: var(--ecw-border-colour);
    background-color: var(--ecw-background-colour);
    backdrop-filter:blur(3px);
    padding: 0.8rem;
    text-align: start;
    width:100%; 
    h3 {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.2em;
        margin-block: auto;
    }
    h4 {
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 1em;
        margin-block: auto;
    }
    h6 {
        font-weight: 600;
        font-size: 0.85rem;
        line-height: 1em;
        font-family: "Playfair";
        margin-block: auto;
    }
    p {
        font-size: 1.0rem;
        font-family: "Outfit";
        padding-top: 5px;
    }
}

.experienceRenderCard {
    display: flex;
    align-items: center;
    border-width: var(--ecw-border-width);
    border-radius: var(--ecw-border-radius);
    border-color: var(--ecw-border-colour);
    background-color: color-mix(in srgb, var(--colour-bg-strong), transparent 30%);
    backdrop-filter: blur(10px);
    padding-block: 13px;
    padding-inline: 15px;
    width: 100%;

    h1 {
        font-size: 1.1em;
        text-align: left;
    }

    ul {
        text-align: start;
        li {
            margin-inline-start: 1rem;
            padding-bottom: 5px;
        }
        li::before{
            content: '';
            position: absolute;
            left: 10px;
            transform: translateY(160%);
            width: 6px;
            height: 6px;
            background-color: var(--colour);
            z-index: 1;
            border-radius: 50%;
        }
    }
}